{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": 0,
    "no-console": 0,
    "quotes": [2, "single"],
    "arrow-body-style": ["error", "always"],
    "requireForBlockBody": true
  }
}